#################
## Unity
#################

Library
Temp

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


*.sln
*.userprefs
*.pidb
*.cproj