#################
## Unity
#################

Library
Temp

#################
## Windows
#################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#################
## MonoDevelop
#################

Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
*.csproj
*.pidb
*.sln
*.userprefs
